$breakpoint-xl: 1500px;
$breakpoint-lg: 1200px;
$breakpoint-md: 991px;
$breakpoint-sm: 767px;
$breakpoint-xs: 575px;
$breakpoint-xxs: 425px;

$blue: #216af3;
$black-color: #373B55;
$soft-red: #E47258;